@font-face {
    font-family: 'Merriweather';
    src: url('fonts/Merriweather_24pt-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Padauk';
    src: url('fonts/Padauk-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    
}